
<div class="shopping-cart" style="margin-top:25px">
    <div class="container-fluid breadcrumbBox text-center">
      <ol class="breadcrumb" style="font-size:15pt">
        <li class = "active"><a href="/">Shop</a></li>
        <li class = "active"><a>View</a></li>
        <li class="active"><a>Confirm</a></li>
        <li class="active"><a>Complete</a></li>
      </ol>
    </div>

    <div style="font-size:14px">
      <p>Don hang cua ban da dat thanh cong</p>
      <p>Day la ma don hang cua ban: <font color="red">IBC091212</font></p>
    </div>

</div>
<p>&nbsp;</p>