
<!-- Search Result -->
<div class="row">
<h4>Keyword Search: <span style="color:red"><%= params[:search] %></span> </h4>
<h3 class="btn btn-block btn-md btn-primary" style="margin-bottom:10px;font-size:13pt">Search Result</h3>
<div id="productsearch"><%= render 'productsearch' %></div>
<!-- <div align="right" style="margin-right:15px">paging here </div> -->
</div>